<title>Hoitoyksiköt</title>
<h1>Hoitoyksikön lisääminen</h1>
<form action="/adddepartment" method="POST">
* Hoitoyksikön lyhenne:
<input type="text" name="department_abbrev">
<p>
Hoitoyksikön pitkä nimi:
<input type="text" name="department_name">
<p>
* Palveleva verivarasto:
<input name="inventory_abbrev" list="inventory_abbrev">
<datalist id="inventory_abbrev">
  {% for inventory in inventories %}
  <option value={{ ''.join(inventory) }}></option>
  {% endfor %}
</datalist>
<p>
<br>
<input type="submit" value="Tallenna">
</form>
<p>
Pakolliset tiedot on merkitty tähdellä.
<p>
<hr>
<p>
Hoitoyksiköt:
<ul>
{% for department in departments %}
<li> {{ department.department_abbrev }} {{ department.department_name }}, verivarasto: {{ department.inventory_abbrev }}
{% endfor %}
</ul>
<p>
<a href="/">Takaisin etusivulle</a>
