<title>Verivarasto</title>
<img src="/static/blood.jpeg">
<h1>Verivarasto</h1>
<p>
<a href="/transfusions">Verensiirron kirjaus</a>
<p>
Hae potilaan tai valmisteen tiedoilla (tulossa myöhemmin)
<p>
<a href="/products">Sisäänkirjaa verivalmisteita</a>
<p>
<a href="/inventories">Lisää verivarasto</a>
<p>
<a href="/patients">Lisää potilas</a>
<p>
<a href="/departments">Lisää hoitoyksikkö</a>
<p>
<a href="/productcodes">Lisää valmistetyyppi</a>
<p>
Käyttäjähallinta (tulossa myöhemmin)
<p>
Sovellus on harjoitustyö eikä sisällä oikeita potilas- tai verivalmistetietoja.