<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">
<title>Verivarasto</title>
<div class="container" style="padding: 50px;">
    <img src="/static/blood.jpeg">
    <h1>Verivarasto</h1>
    <br>
    {% if session.username %}
        <h5>Olet kirjautuneena sisään<br>nimellä {{ session.username }}</h5>
        <br>
        <p><a href="/inventory">Verivarastoon</a></p>
        <p><a href="/logout">Kirjaudu ulos</a></p>
    {% else %}
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="username">Käyttäjätunnus</label>
                        <input type="username" class="form-control" id="username" name="username" minlength="3" maxlength="20" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Salasana</label>
                        <input type="password" class="form-control" id="password" name="password" minlength="6" maxlength="20" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-dark">Kirjaudu sisään</button>
                    </div>
                </form>
            </div>
        </div>
        <p>
            <i>{{ message }}</i>
        </p>
        <p><a href="/register">Rekisteröidy</a></p>
    {% endif %}
    <br>
    <p style="font-weight: lighter">
        <i>Sovellus on harjoitustyö eikä sisällä oikeita potilas- tai verivalmistetietoja.</i>
    </p>
</div>