{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-4">
            <form action="/getuseableprodbyinventory" method="POST">
                <div class="form-group">
                    <select required class="form-select" name="inventory_id">
                        <option selected=""></option>
                        <option value="all">Kaikki varastot</option>
                        {% for inventory in inventories %}
                        <option value={{ inventory.id }}>{{ ''.join(inventory.inventory_abbrev) }} {{ ''.join(inventory.inventory_name) }}</option>
                        {% endfor %}
                        </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-dark">Käytettävissä olevat</button>
                </div>
            </form>
            <hr>
            <form action="/getproductsbyinventory" method="POST">
            <div class="form-group">
                <select required class="form-select" name="inventory_id">
                    <option selected=""></option>
                    <option value="all">Kaikki varastot</option>
                    {% for inventory in inventories %}
                    <option value={{ inventory.id }}>{{ ''.join(inventory.inventory_abbrev) }} {{ ''.join(inventory.inventory_name) }}</option>
                    {% endfor %}
                    </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-dark">Kaikki valmisteet</button>
            </div>
            </form>
            <hr>
            <form action="/getprodbybloodgroup" method="POST">
                <div class="form-group">
                    <select required class="form-select" name="bloodgroup">
                        <option selected=""></option>
                        <option value="A RhD pos">A RhD pos</option>
                        <option value="A RhD neg">A RhD neg</option>
                        <option value="B RhD pos">B RhD pos</option>
                        <option value="B RhD neg">B RhD neg</option>
                        <option value="AB RhD pos">AB RhD pos</option>
                        <option value="AB RhD neg">AB RhD neg</option>
                        <option value="O RhD pos">O RhD pos</option>
                        <option value="O RhD neg">O RhD neg</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="AB">AB</option>
                        <option value="O">O</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-dark">Hae veriryhmällä</button>
                </div>
                </form>
            <hr>
            <form action="/getproductbydonationnumber" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" id="donation_number" name="donation_number" minlength="3" maxlength="20" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-dark">Hae luovutusnumerolla</button>
                </div>
            </form>
        </div>
        <div class="col-8">
            <h5>{{ listing_type }}</h5>
            <ul>
            {% for product in products %}
            <li> {{ product.donation_number }} <b>{{ product.prod_code_abbrev }}</b> {{ product.bloodgroup }} {{ product.phenotypes }}<br>
                Käytettävä viimeistään {{ product.use_before }}, {{ product.status }} ({{ product.inventory_abbrev }})
            {% endfor %}
            </ul>
            {{ search_message }}
        </div>
    </div>
{% endblock %}