<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">
<title>Verivarasto</title>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="/inventory">
            <img src="/static/blood.jpeg" height="20">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/inventory">Verivarasto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transfusions">Verensiirrot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/patients">Potilaat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Valmistetoiminnot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/maintenance">Ylläpito</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logs">Loki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Kirjaudu ulos</a>
            </li>
        </ul>
    </nav>
    <div class="row">
        <div class="col-5" style="border: 1px;border-color:lightgrey;border-style:solid;margin: 10px;padding: 10px;">
            <h5>Verivarastot</h5>
            <ul style="list-style-type:none;">
            {% for inventory in inventories %}
            <li> {{ ' '.join(inventory) }}
            {% endfor %}
            </ul>
            <h5>Lisää uusi verivarasto</h5>
            <form action="/addinventory" method="POST">
                <div class="form-group">
                    <label for="inventory_abbrev">Varaston lyhenne</label>
                    <input type="text" class="form-control" id="inventory_abbrev" name="inventory_abbrev" minlength="3" maxlength="10" required>
                </div>
                <div class="form-group">
                    <label for="inventory_name">Varaston nimi</label>
                    <input type="text" class="form-control" id="inventory_name" name="inventory_name" minlength="3" maxlength="50" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-dark">Tallenna</button>
                </div>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
        <div class="col-5" style="border: 1px;border-color:lightgrey;border-style:solid;margin: 10px;padding: 10px;">
            <h5>Hoitoyksiköt</h5>
            <ul style="list-style-type:none;">
            {% for department in departments %}
            <li> {{ department.department_abbrev }} {{ department.department_name }}, verivarasto: {{ department.inventory_abbrev }}
            {% endfor %}
            </ul>
            <h5>Lisää uusi hoitoyksikkö</h5>
            <form action="/adddepartment" method="POST">
                <div class="form-group">
                    <label for="department_abbrev">Hoitoyksikön lyhenne</label>
                    <input type="text" class="form-control" id="department_abbrev" name="department_abbrev" minlength="3" maxlength="10" required>
                </div>
                <div class="form-group">
                    <label for="department_name">Hoitoyksikön nimi</label>
                    <input type="text" class="form-control" id="department_name" name="department_name" minlength="3" maxlength="50" required>
                </div>
                <div class="form-group">
                    <label for="inventory_abbrev">Palveleva verivarasto</label>
                    <select required class="form-select" name="inventory_abbrev">
                        <option selected=""></option>
                        {% for inventory in inventories %}
                        <option value={{ ''.join(inventory.inventory_abbrev) }}>{{ ' '.join(inventory) }}</option>
                        {% endfor %}
                        </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-dark">Tallenna</button>
                </div>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-5" style="border: 1px;border-color:lightgrey;border-style:solid;margin: 10px;padding: 10px;">
            <h5>Valmistetyypit</h5>
            <ul style="list-style-type:none;">
            {% for product_code in product_codes %}
            <li> {{ " ".join(product_code) }}
            {% endfor %}
            </ul>
            <h5>Lisää uusi valmistetyyppi</h5>
            <form action="/addproductcode" method="POST">
                <div class="form-group">
                    <label for="prod_code_abbrev">Valmisteen lyhenne</label>
                    <input type="text" class="form-control" id="prod_code_abbrev" name="prod_code_abbrev" minlength="3" maxlength="10" required>
                </div>
                <div class="form-group">
                    <label for="prod_code_name">Valmisteen nimi</label>
                    <input type="text" class="form-control" id="prod_code_name" name="prod_code_name" minlength="3" maxlength="50" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-dark">Tallenna</button>
                </div>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
        <div class="col-5" style="border: 1px;border-color:lightgrey;border-style:solid;margin: 10px;padding: 10px;">
            <h5>Vaihda salasana</h5>
            <p>Kirjautunut käyttäjä: {{ session.username }}</p>
            <form action="/changepassword" method="POST">
                <div class="form-group">
                    <label for="oldpassword">Vanha salasana</label>
                    <input type="password" class="form-control" id="oldpassword" name="oldpassword" minlength="6" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label for="newpassword">Uusi salasana</label>
                    <input type="password" class="form-control" id="newpassword" name="newpassword" minlength="6" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label for="newpassword2">Uusi salasana uudestaan</label>
                    <input type="password" class="form-control" id="newpassword2" name="newpassword2" minlength="6" maxlength="20" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-dark">Vaihda</button>
                </div>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
    </div>
    <p class="text-center" style="font-weight: lighter;">
        <i>Sovellus on harjoitustyö eikä sisällä oikeita potilas- tai verivalmistetietoja.</i>
    </p>
</div>