{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-5" id="margin">
            <h5>Verivarastot</h5>
            <ul>
            {% for inventory in inventories %}
            <li>{{ ''.join(inventory.inventory_abbrev) }} {{ ''.join(inventory.inventory_name) }}</li>
            {% endfor %}
            </ul>
            <h5>Lisää uusi verivarasto</h5>
            <form action="/addinventory" method="POST">
                <div class="form-group">
                    <label for="inventory_abbrev">Varaston lyhenne</label>
                    <input type="text" class="form-control" id="inventory_abbrev" name="inventory_abbrev" value="{{ request.form.get('inventory_abbrev', '') }}" minlength="3" maxlength="10" required>
                </div>
                <div class="form-group">
                    <label for="inventory_name">Varaston nimi</label>
                    <input type="text" class="form-control" id="inventory_name" name="inventory_name" value="{{ request.form.get('inventory_name', '') }}" minlength="3" maxlength="50" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-dark">Tallenna</button>
                </div>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
        <div class="col-5" id="margin">
            <h5>Hoitoyksiköt</h5>
            <ul>
            {% for department in departments %}
            <li> {{ department.department_abbrev }} {{ department.department_name }}, verivarasto: {{ department.inventory_abbrev }}
            {% endfor %}
            </ul>
            <h5>Lisää uusi hoitoyksikkö</h5>
            <form action="/adddepartment" method="POST">
                <div class="form-group">
                    <label for="department_abbrev">Hoitoyksikön lyhenne</label>
                    <input type="text" class="form-control" id="department_abbrev" name="department_abbrev" value="{{ request.form.get('department_abbrev', '') }}" minlength="3" maxlength="10" required>
                </div>
                <div class="form-group">
                    <label for="department_name">Hoitoyksikön nimi</label>
                    <input type="text" class="form-control" id="department_name" name="department_name" value="{{ request.form.get('department_name', '') }}" minlength="3" maxlength="50" required>
                </div>
                <div class="form-group">
                    <label for="inventory_id">Palveleva verivarasto</label>
                    <select required class="form-select" name="inventory_id">
                        <option selected="{{ request.form.get('inventory_id', '') }}">{{ inventory_abbrev }} {{ inventory_name }}</option>
                        {% for inventory in inventories %}
                        <option value={{ inventory.id }}>{{ ''.join(inventory.inventory_abbrev) }} {{ ''.join(inventory.inventory_name) }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-dark">Tallenna</button>
                </div>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-5" id="margin">
            <h5>Valmistetyypit</h5>
            <ul>
            {% for product_code in product_codes %}
            <li> {{ "".join(product_code.prod_code_abbrev) }} {{ "".join(product_code.prod_code_name) }}
            {% endfor %}
            </ul>
            <h5>Lisää uusi valmistetyyppi</h5>
            <form action="/addproductcode" method="POST">
                <div class="form-group">
                    <label for="prod_code_abbrev">Valmisteen lyhenne</label>
                    <input type="text" class="form-control" id="prod_code_abbrev" name="prod_code_abbrev" value="{{ request.form.get('prod_code_abbrev', '') }}" minlength="3" maxlength="10" required>
                </div>
                <div class="form-group">
                    <label for="prod_code_name">Valmisteen nimi</label>
                    <input type="text" class="form-control" id="prod_code_name" name="prod_code_name" value="{{ request.form.get('prod_code_name', '') }}" minlength="3" maxlength="50" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-dark">Tallenna</button>
                </div>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
        <div class="col-5" id="margin">
            <h5>Vaihda salasana käyttäjälle {{ session.username }}</h5>
            <br>
            <form action="/changepassword" method="POST">
                <div class="form-group">
                    <label for="oldpassword">Vanha salasana</label>
                    <input type="password" class="form-control" id="oldpassword" name="oldpassword" minlength="6" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label for="newpassword">Uusi salasana</label>
                    <input type="password" class="form-control" id="newpassword" name="newpassword" minlength="6" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label for="newpassword2">Uusi salasana uudestaan</label>
                    <input type="password" class="form-control" id="newpassword2" name="newpassword2" minlength="6" maxlength="20" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-dark">Tallenna</button>
                </div>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
    </div>
{% endblock %}