<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">
<title>Verivarasto</title>
<div class="container" style="padding: 50px;">
    <img src="/static/blood.jpeg">
    <br>
    <h5><i>{{ message }}</i></h5>
    <br>
    <p><a href="javascript:history.back()">Takaisin edelliselle sivulle</a></p>
</div>