{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-5" id="margin">
            <h5>Hae potilaan tiedot ja verensiirrot</h5>
            <p>
            <form action="/patients" method="POST">
                <div class="form-group">
                    <label for="patient_id">Potilas</label>
                    <select required class="form-select" name="patient_id">
                        <option selected=""></option>
                        {% for patient in patients %}
                        <option value={{ patient.id }}>{{ ''.join(patient.ssn) }} {{ ''.join(patient.patient_name) }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-dark">Hae tiedot</button>
                </div>
            </form>
            {% if patient_by_id.id %}
                <h5>{{ patient_by_id.ssn }} {{ patient_by_id.patient_name }} {{ patient_by_id.bloodgroup }} {{ patient_by_id.phenotype_reqs }}</h5>
                <ul>
                {% for transfusion in patient_transfusions %}
                    <li>
                    {{ transfusion.donation_number }} <b>{{ transfusion.prod_code_abbrev }}</b> ({{ transfusion.prod_code_name}})
                    {{ transfusion.bloodgroup }} {{ transfusion.phenotypes }} // {{ transfusion.date }}, {{ transfusion.department_abbrev }}
                {% endfor %}
                </ul>
                {{ search_message }}
                <p>
                <hr>
                <p>
                <form action="/newphenotypereq" method="POST">
                    <div class="form-group">
                        <label for="new_phenotype_req">Lisää potilaalle fenotyyppivaatimus</label>
                        <input type="text" class="form-control" id="new_phenotype_req" name="new_phenotype_req" maxlength="200">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-dark">Tallenna</button>
                    </div>
                    <input type="hidden" name="patient_id" value="{{ patient_by_id.id }}">
                    <input type="hidden" name="patient_ssn" value="{{ patient_by_id.ssn }}">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </form>
            {% endif %}
        </div>
        <div class="col-5" id="margin">
            <h5>Lisää potilas</h5>
            <form action="/addpatient" method="POST">
                <div class="form-group">
                    <label for="ssn">Henkilötunnus</label>
                    <input type="text" class="form-control" id="ssn" name="ssn" value="{{ request.form.get('ssn', '') }}" minlength="3" maxlength="20" required>
                </div>
                <div class="form-group">
                    <label for="patient_name">Nimi</label>
                    <input type="text" class="form-control" id="patient_name" name="patient_name" value="{{ request.form.get('patient_name', '') }}" minlength="3" maxlength="50" required>
                </div>
                <div class="form-group">
                    <label for="bloodgroup">Veriryhmä</label>
                    <select required class="form-select" name="bloodgroup">
                        <option selected="{{ request.form.get('bloodgroup', '') }}">{{ request.form.get('bloodgroup', '') }}</option>
                        <option value="A RhD pos">A RhD pos</option>
                        <option value="A RhD neg">A RhD neg</option>
                        <option value="B RhD pos">B RhD pos</option>
                        <option value="B RhD neg">B RhD neg</option>
                        <option value="AB RhD pos">AB RhD pos</option>
                        <option value="AB RhD neg">AB RhD neg</option>
                        <option value="O RhD pos">O RhD pos</option>
                        <option value="O RhD neg">O RhD neg</option>
                        <option value="? RhD ?">? RhD ?</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="phenotype_reqs">Fenotyyppivaatimukset</label>
                    <input type="text" class="form-control" id="phenotype_reqs" name="phenotype_reqs" value="{{ request.form.get('phenotype_reqs', '') }}" maxlength="200">
                </div>            
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-dark">Tallenna</button>
                </div>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </div>
    </div>
{% endblock %}
