<title>Potilaat</title>
<h1>Potilaan lisääminen</h1>
<form action="/addpatient" method="POST">
* Henkilötunnus:
<input type="text" name="ssn">
<p>
Nimi:
<input type="text" name="patient_name">
<p>
* Veriryhmä:
<p>
<input name="bloodgroup" list="bloodgroup">
<datalist id="bloodgroup">
    <option value="A RhD pos"></option>
    <option value="A RhD neg"></option>
    <option value="B RhD pos"></option>
    <option value="B RhD neg"></option>
    <option value="AB RhD pos"></option>
    <option value="AB RhD neg"></option>
    <option value="O RhD pos"></option>
    <option value="O RhD neg"></option>
</datalist>
<p>
Fenotyyppivaatimukset: <br>
<textarea name="phenotype_reqs" rows="3" cols="50"></textarea>
<p>
<br>
<input type="submit" value="Tallenna">
</form>
<p>
Pakolliset tiedot on merkitty tähdellä.
<p>
<hr>
<p>
Potilaat:
<p>
<ul>
{% for patient in patients %}
<li> {{ patient.ssn }} {{ patient.patient_name }}, veriryhmä {{ patient.bloodgroup }} {{ patient.phenotype_reqs }}
{% endfor %}
</ul>
<p>
<a href="/">Takaisin etusivulle</a>
