<title>Sisäänkirjaus</title>
<h1>Verivalmisteen sisäänkirjaus</h1>
<form action="/addproduct" method="POST">
* Varasto, johon sisäänkirjataan:
<input name="inventory_abbrev" list="inventory_abbrev">
<datalist id="inventory_abbrev">
  {% for inventory in inventories %}
  <option value={{ "".join(inventory) }}></option>
  {% endfor %}
</datalist>
<p>
* Anna luovutusnumero:
<input type="text" name="donation_number">
<p>
* Anna valmistetyyppi:
<input name="prod_code_abbrev" list="prod_code_abbrev">
<datalist id="prod_code_abbrev">
  {% for product_code in product_codes %}
  <option value={{ "".join(product_code) }}></option>
  {% endfor %}
</datalist>
<p>
* Veriryhmä:
<p>
<input name="bloodgroup" list="bloodgroup">
<datalist id="bloodgroup">
  <option value="A RhD pos"></option>
  <option value="A RhD neg"></option>
  <option value="B RhD pos"></option>
  <option value="B RhD neg"></option>
  <option value="AB RhD pos"></option>
  <option value="AB RhD neg"></option>
  <option value="O RhD pos"></option>
  <option value="O RhD neg"></option>
</datalist>
<p>
Fenotyypit: <br>
<textarea name="phenotypes" rows="3" cols="50"></textarea>
<p>
* Käytettävä ennen:
<input type="date" name="use_before">
<p>
<br>
<input type="submit" value="Tallenna">
</form>
<p>
Pakolliset tiedot on merkitty tähdellä.
<p>
<hr>
<p>
Varastossa olevat valmisteet:
<ul>
{% for product in products %}
<li> {{ product.donation_number }} {{ product.prod_code_abbrev }} {{ product.bloodgroup }}
    {{ product.phenotypes }}, käytettävä ennen {{ product.use_before }}, tila: {{ product.status }}
{% endfor %}
</ul>
<p>
<a href="/">Takaisin etusivulle</a>