{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col-5" id="margin">
      <h5>Sisäänkirjaa verivalmiste</h5>
      <form action="/addproduct" method="POST">
      <div class="form-group">
        <label for="inventory_id">Varasto, johon sisäänkirjataan</label>
        <select required class="form-select" name="inventory_id">
          <option selected="{{ request.form.get('inventory_id', '') }}" value="{{ request.form.get('inventory_id', '') }}">{{ inventory_abbrev }} {{ inventory_name }}</option>
          {% for inventory in inventories %}
          <option value={{ inventory.id }}>{{ ''.join(inventory.inventory_abbrev) }} {{ ''.join(inventory.inventory_name) }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
          <label for="donation_number">Luovutusnumero</label>
          <input type="text" class="form-control" id="donation_number" name="donation_number" value="{{ request.form.get('donation_number', '') }}" minlength="3" maxlength="20" required>
      </div>
      <div class="form-group">
        <label for="product_code_id">Valmistetyyppi</label>
        <select required class="form-select" name="product_code_id">
          <option selected="{{ request.form.get('product_code_id', '') }}" value="{{ request.form.get('product_code_id', '') }}">{{ prod_code_abbrev }} {{ prod_code_name }}</option>
          {% for product_code in product_codes %}
          <option value={{ product_code.id }}>{{ ''.join(product_code.prod_code_abbrev) }} {{ ''.join(product_code.prod_code_name) }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="bloodgroup">Veriryhmä</label>
        <select required class="form-select" name="bloodgroup">
          <option selected="{{ request.form.get('bloodgroup', '') }}" value="{{ request.form.get('bloodgroup', '') }}">{{ request.form.get('bloodgroup', '') }}</option>
          <option value="A RhD pos">A RhD pos</option>
          <option value="A RhD neg">A RhD neg</option>
          <option value="B RhD pos">B RhD pos</option>
          <option value="B RhD neg">B RhD neg</option>
          <option value="AB RhD pos">AB RhD pos</option>
          <option value="AB RhD neg">AB RhD neg</option>
          <option value="O RhD pos">O RhD pos</option>
          <option value="O RhD neg">O RhD neg</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="AB">AB</option>
          <option value="O">O</option>
        </select>
      </div>
      <div class="form-group">
          <label for="phenotypes">Fenotyypit</label>
          <input type="text" class="form-control" id="phenotypes" name="phenotypes" value="{{ request.form.get('phenotypes', '') }}" maxlength="200">
      </div>
      <div class="form-group">
        <label for="use_before">Käytettävä ennen</label>
        <input type="date" class="form-control" id="use_before" name="use_before" value="{{ request.form.get('use_before', '') }}" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-dark">Tallenna</button>
      </div>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      </form>
    </div>
    <div class="col-5">
      <div class="row" id="margin">
        <h5>Hävitä varastossa oleva valmiste</h5>
        <br>
        <form action="/destroyproduct" method="POST">
          <div class="form-group">
            <label for="product_id">Valmiste</label>
            <select required class="form-select" name="product_id">
              <option selected=""></option>
              {% for product in products %}
              <option value={{ product.id }}>{{ ''.join(product.donation_number) }} {{ ''.join(product.prod_code_abbrev) }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="reason">Hävittämisen syy</label>
            <input type="text" class="form-control" id="reason" name="reason" maxlength="200" required>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-outline-dark">Tallenna</button>
          </div>
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
      </div>
      <div class="row" id="margin">
        <h5>Palauta lähetetty valmiste</h5>
        <br>
        <form action="/returnproduct" method="POST">
          <div class="form-group">
            <label for="return_product_id">Valmiste</label>
            <select required class="form-select" name="return_product_id">
              <option selected=""></option>
              {% for sent_product in sent_products %}
              <option value={{ sent_product.id }}>{{ ''.join(sent_product.donation_number) }} {{ ''.join(sent_product.prod_code_abbrev) }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-outline-dark">Tallenna</button>
          </div>
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
      </div>
      <div class="row" id="margin">
        <h5>Siirrä valmiste toiseen varastoon</h5>
        <br>
        <form action="/moveproduct" method="POST">
          <div class="form-group">
            <label for="product_id">Valmiste</label>
            <select required class="form-select" name="product_id">
              <option selected=""></option>
              {% for product in products %}
              <option value={{ product.id }}>{{ ''.join(product.donation_number) }} {{ ''.join(product.prod_code_abbrev) }} ({{ ''.join(product.inventory_abbrev) }})</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="new_inventory_id">Varasto, johon siirretään</label>
            <select required class="form-select" name="new_inventory_id">
              <option selected=""></option>
              {% for inventory in inventories %}
              <option value={{ inventory.id }}>{{ ''.join(inventory.inventory_abbrev) }} {{ ''.join(inventory.inventory_name) }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-outline-dark">Tallenna</button>
          </div>
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
      </div>
    </div>
  </div>
{% endblock %}