<title>Valmistetyyppien ylläpito</title>
<h1>Valmistetyyppien ylläpito</h1>
<form action="/addproductcode" method="POST">
* Valmisteen lyhenne:
<input type="text" name="prod_code_abbrev">
<p>
Valmisteen pitkä nimi:
<input type="text" name="prod_code_name">
<p>
<br>
<input type="submit" value="Tallenna">
</form>
<p>
Pakolliset tiedot on merkitty tähdellä.
<p>
<hr>
<p>
Valmistetyypit:
<ul>
{% for product_code in product_codes %}
<li> {{ product_code.prod_code_abbrev }} {{ product_code.prod_code_name }}
{% endfor %}
</ul>
<p>
<a href="/">Takaisin etusivulle</a>