<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Verensiirron kirjaus</title>
<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="/inventory">
        <img src="/static/blood.jpeg" height="20">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/inventory">Verivarasto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/transfusions">Verensiirron kirjaus</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products">Verivalmisteen sisäänkirjaus</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/patients">Potilaat</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/maintenance">Ylläpitotoiminnot</a>
        </li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <h5>Verensiirron kirjaus</h5>
      <form action="/addtransfusion" method="POST">
      <div class="form-group col-6">
        <label for="product_donation_number">Valmiste</label>
        <select class="form-select" name="product_donation_number">
        <option selected>Valitse valikosta</option>
        {% for product in products %}
        <option value={{ ''.join(product.donation_number) }}>{{ ''.join(product.donation_number) }} {{ ''.join(product.prod_code_abbrev) }} {{ ''.join(product.bloodgroup) }}</option>
        {% endfor %}
        </select>
      </div>
      <div class="form-group col-6">
        <label for="patient_ssn">Potilas</label>
        <select class="form-select" name="patient_ssn">
        <option selected>Valitse valikosta</option>
        {% for patient in patients %}
        <option value={{ "".join(patient.ssn) }}>{{ ' '.join(patient) }}</option>
        {% endfor %}
        </select>
      </div>
      <div class="form-group col-6">
        <label for="department_abbrev">Hoitoyksikkö</label>
        <select class="form-select" name="department_abbrev">
        <option selected>Valitse valikosta</option>
        {% for department in departments %}
        <option value={{ "".join(department.department_abbrev) }}>{{ ''.join(department.department_abbrev) }} {{ ''.join(department.department_name) }}</option>
        {% endfor %}
        </select>
      </div>
      <p>
        <div class="form-group col-6">
          <label for="date">Siirron päivämäärä</label>
          <input type="date" class="form-control" id="date" name="date">
        </div>
        <div class="form-group col-6">
          <button type="submit" class="btn btn-outline-dark">Tallenna</button>
        </div>
        </form>
      </div>
    </div>
  <hr>
  <p class="text-center" style="font-weight: lighter;">
      <i>Sovellus on harjoitustyö eikä sisällä oikeita potilas- tai verivalmistetietoja.</i>
  </p>
</div>