<title>Verensiirron kirjaus</title>
<h1>Verensiirron kirjaus</h1>
<form action="/addtransfusion" method="POST">
* Valmiste:
<input name="product_donation_number" list="product_donation_number">
<datalist id="product_donation_number">
  {% for product in products %}
  <option value={{ ''.join(product) }}></option>
  {% endfor %}
</datalist>
<p>
* Potilaan henkilötunnus:
<input name="patient_ssn" list="patient_ssn">
<datalist id="patient_ssn">
  {% for patient in patients %}
  <option value={{ "".join(patient) }}></option>
  {% endfor %}
</datalist>
<p>
* Hoitoyksikkö:
<p>
<input name="department_abbrev" list="department_abbrev">
<datalist id="department_abbrev">
  {% for department in departments %}
  <option value={{ "".join(department) }}></option>
  {% endfor %}
</datalist>
<p>
* Siirron päivämäärä: <br>
<input type="date" name="date">
<p>
<br>
<input type="submit" value="Tallenna">
</form>
<p>
Pakolliset tiedot on merkitty tähdellä.
<p>
<hr>
<p>
Verensiirrot:
<ul>
{% for transfusion in transfusions %}
<li> {{ transfusion.ssn }} {{ transfusion.patient_name }}: {{ transfusion.donation_number }} {{ transfusion.prod_code_abbrev }} ({{ transfusion.department_abbrev }} {{ transfusion.date }})
{% endfor %}
</ul>
<p>
<a href="/">Takaisin etusivulle</a>
